In [1]:
import pandas as pd
import numpy as np

In [22]:
bee_df = pd.read_csv('data/NASS_Bee-Colony_2015-2021.csv')
bee_df.head()

,State,Starting Colonies,Maximum Colonies,Lost Colonies,Percent Loss,Added Colonies,Renovated Colonies,Percent Renovated,Year
0,Alabama,7000,7000,1800,26,2800,250,4,2015-Q1
1,Arizona,35000,35000,4600,13,3400,2100,6,2015-Q1
2,Arkansas,13000,14000,1500,11,1200,90,1,2015-Q1
3,California,1440000,1690000,255000,15,250000,124000,7,2015-Q1
4,Colorado,3500,12500,1500,12,200,140,1,2015-Q1

In [23]:
bee_df.describe()

,State,Starting Colonies,Maximum Colonies,Lost Colonies,Percent Loss,Added Colonies,Renovated Colonies,Percent Renovated,Year
count,1222,1222,1222,1222,1222,1222,1222,1222,1222
unique,47,290,281,262,46,260,255,54,26
top,Alabama,(NA),(NA),(NA),8,(NA),0,1,2015-Q1
freq,26,47,47,47,93,47,87,144,47

In [24]:
print('Total', len(bee_df))

na_counts = bee_df.isna().sum()
print(na_counts.sort_values())

Total 1222
State                 0
Starting Colonies     0
Maximum Colonies      0
Lost Colonies         0
Percent Loss          0
Added Colonies        0
Renovated Colonies    0
Percent Renovated     0
Year                  0
dtype: int64

In [25]:
bee_df

,State,Starting Colonies,Maximum Colonies,Lost Colonies,Percent Loss,Added Colonies,Renovated Colonies,Percent Renovated,Year
0,Alabama,7000,7000,1800,26,2800,250,4,2015-Q1
1,Arizona,35000,35000,4600,13,3400,2100,6,2015-Q1
2,Arkansas,13000,14000,1500,11,1200,90,1,2015-Q1
3,California,1440000,1690000,255000,15,250000,124000,7,2015-Q1
4,Colorado,3500,12500,1500,12,200,140,1,2015-Q1
...,...,...,...,...,...,...,...,...,...
1217,West Virginia,8000,9000,170,2,1900,390,4,2021-Q2
1218,Wisconsin,42000,57000,2200,4,9000,7500,13,2021-Q2
1219,Wyoming,13500,30000,3400,11,7500,4900,16,2021-Q2
1220,Other,5970,8410,140,2,2890,3100,37,2021-Q2
1221,United States,2855070,(X),255860,9,677690,480380,17,2021-Q2

In [43]:
bee_df['Starting Colonies'].describe()

count     1222
unique     290
top       (NA)
freq        47
Name: Starting Colonies, dtype: object

In [30]:
bee_df['Added Colonies'].describe()

count     1222
unique     260
top       (NA)
freq        47
Name: Added Colonies, dtype: object

In [31]:
bee_df['Renovated Colonies'].describe()

count     1222
unique     255
top          0
freq        87
Name: Renovated Colonies, dtype: object

In [32]:
bee_df['Maximum Colonies'].describe()

count     1222
unique     281
top       (NA)
freq        47
Name: Maximum Colonies, dtype: object

In [35]:
bee_df['Year'].value_counts()

2015-Q1    47
2015-Q2    47
2021-Q1    47
2020-Q4    47
2020-Q3    47
2020-Q2    47
2020-Q1    47
2019-Q4    47
2019-Q3    47
2019-Q2    47
2019-Q1    47
2018-Q4    47
2018-Q3    47
2018-Q2    47
2018-Q1    47
2017-Q4    47
2017-Q3    47
2017-Q2    47
2017-Q1    47
2016-Q4    47
2016-Q3    47
2016-Q2    47
2016-Q1    47
2015-Q4    47
2015-Q3    47
2021-Q2    47
Name: Year, dtype: int64

In [36]:
bee_df[bee_df['Year'] == '2020-Q2']

,State,Starting Colonies,Maximum Colonies,Lost Colonies,Percent Loss,Added Colonies,Renovated Colonies,Percent Renovated,Year
987,Alabama,8500,8500,4100,48,4700,2600,31,2020-Q2
988,Arizona,26000,26000,1300,5,14500,4700,18,2020-Q2
989,Arkansas,17000,17000,1800,11,4900,800,5,2020-Q2
990,California,1200000,1200000,100000,8,175000,240000,20,2020-Q2
991,Colorado,16500,27000,2100,8,7000,2800,10,2020-Q2
992,Connecticut,3900,4300,30,1,1200,450,10,2020-Q2
993,Florida,310000,310000,40000,13,25000,18500,6,2020-Q2
994,Georgia,145000,147000,10000,7,18500,20000,14,2020-Q2
995,Hawaii,15500,15500,0,0,3000,2300,15,2020-Q2
996,Idaho,48000,81000,18000,22,22000,29000,36,2020-Q2
997,Illinois,12000,12000,1500,13,4200,1700,14,2020-Q2
998,Indiana,11000,12000,920,8,4500,1800,15,2020-Q2
999,Iowa,21000,29000,3600,12,17000,4700,16,2020-Q2
1000,Kansas,7500,8000,680,9,1900,1800,23,2020-Q2
1001,Kentucky,11000,11000,1200,11,4200,3500,32,2020-Q2
1002,Louisiana,53000,53000,1800,3,2300,4700,9,2020-Q2
1003,Maine,1600,22000,700,3,520,110,1,2020-Q2
1004,Maryland,7000,8000,670,8,4400,1700,21,2020-Q2
1005,Massachusetts,4400,13500,630,5,870,540,4,2020-Q2
1006,Michigan,64000,85000,1500,2,11000,10000,12,2020-Q2
1007,Minnesota,59000,126000,13000,10,9000,2600,2,2020-Q2
1008,Mississippi,34000,37000,4500,12,1500,570,2,2020-Q2
1009,Missouri,6500,6500,390,6,2800,1200,18,2020-Q2
1010,Montana,48000,120000,2000,2,18000,16000,13,2020-Q2
1011,Nebraska,16500,41000,1900,5,7000,1100,3,2020-Q2
1012,New Jersey,7000,21000,710,3,1500,650,3,2020-Q2
1013,New Mexico,3100,6000,1000,17,400,40,1,2020-Q2
1014,New York,34000,58000,4000,7,6000,2800,5,2020-Q2
1015,North Carolina,24000,25000,1600,6,6000,1300,5,2020-Q2
1016,North Dakota,67000,415000,20000,5,53000,38000,9,2020-Q2
1017,Ohio,15500,16500,1700,10,9500,3700,22,2020-Q2
1018,Oklahoma,16000,16000,1500,9,6000,3100,19,2020-Q2
1019,Oregon,89000,96000,2500,3,11000,19000,20,2020-Q2
1020,Pennsylvania,24000,28000,930,3,5500,1500,5,2020-Q2
1021,South Carolina,18500,18500,1700,9,2700,2500,14,2020-Q2
1022,South Dakota,9500,220000,4600,2,10000,14500,7,2020-Q2
1023,Tennessee,13500,13500,1200,9,4200,3200,24,2020-Q2
1024,Texas,360000,385000,35000,9,15000,136000,35,2020-Q2
1025,Utah,21000,31000,2800,9,8500,13000,42,2020-Q2
1026,Vermont,7000,7000,200,3,680,110,2,2020-Q2
1027,Virginia,7500,8000,1200,15,4800,1300,16,2020-Q2
1028,Washington,50000,114000,3500,3,5000,3300,3,2020-Q2
1029,West Virginia,7500,7500,570,8,1600,1500,20,2020-Q2
1030,Wisconsin,27000,55000,1700,3,14000,4600,8,2020-Q2
1031,Wyoming,17500,30000,2000,7,4400,2100,7,2020-Q2
1032,Other,6500,9840,260,3,1400,1500,15,2020-Q2
1033,United States,2972000,(X),300990,10,536170,626870,21,2020-Q2

In [42]:
bee_df[bee_df['Year'] == '2020-Q2']

,State,Starting Colonies,Maximum Colonies,Lost Colonies,Percent Loss,Added Colonies,Renovated Colonies,Percent Renovated,Year
987,Alabama,8500,8500,4100,48,4700,2600,31,2020-Q2
988,Arizona,26000,26000,1300,5,14500,4700,18,2020-Q2
989,Arkansas,17000,17000,1800,11,4900,800,5,2020-Q2
990,California,1200000,1200000,100000,8,175000,240000,20,2020-Q2
991,Colorado,16500,27000,2100,8,7000,2800,10,2020-Q2
992,Connecticut,3900,4300,30,1,1200,450,10,2020-Q2
993,Florida,310000,310000,40000,13,25000,18500,6,2020-Q2
994,Georgia,145000,147000,10000,7,18500,20000,14,2020-Q2
995,Hawaii,15500,15500,0,0,3000,2300,15,2020-Q2
996,Idaho,48000,81000,18000,22,22000,29000,36,2020-Q2
997,Illinois,12000,12000,1500,13,4200,1700,14,2020-Q2
998,Indiana,11000,12000,920,8,4500,1800,15,2020-Q2
999,Iowa,21000,29000,3600,12,17000,4700,16,2020-Q2
1000,Kansas,7500,8000,680,9,1900,1800,23,2020-Q2
1001,Kentucky,11000,11000,1200,11,4200,3500,32,2020-Q2
1002,Louisiana,53000,53000,1800,3,2300,4700,9,2020-Q2
1003,Maine,1600,22000,700,3,520,110,1,2020-Q2
1004,Maryland,7000,8000,670,8,4400,1700,21,2020-Q2
1005,Massachusetts,4400,13500,630,5,870,540,4,2020-Q2
1006,Michigan,64000,85000,1500,2,11000,10000,12,2020-Q2
1007,Minnesota,59000,126000,13000,10,9000,2600,2,2020-Q2
1008,Mississippi,34000,37000,4500,12,1500,570,2,2020-Q2
1009,Missouri,6500,6500,390,6,2800,1200,18,2020-Q2
1010,Montana,48000,120000,2000,2,18000,16000,13,2020-Q2
1011,Nebraska,16500,41000,1900,5,7000,1100,3,2020-Q2
1012,New Jersey,7000,21000,710,3,1500,650,3,2020-Q2
1013,New Mexico,3100,6000,1000,17,400,40,1,2020-Q2
1014,New York,34000,58000,4000,7,6000,2800,5,2020-Q2
1015,North Carolina,24000,25000,1600,6,6000,1300,5,2020-Q2
1016,North Dakota,67000,415000,20000,5,53000,38000,9,2020-Q2
1017,Ohio,15500,16500,1700,10,9500,3700,22,2020-Q2
1018,Oklahoma,16000,16000,1500,9,6000,3100,19,2020-Q2
1019,Oregon,89000,96000,2500,3,11000,19000,20,2020-Q2
1020,Pennsylvania,24000,28000,930,3,5500,1500,5,2020-Q2
1021,South Carolina,18500,18500,1700,9,2700,2500,14,2020-Q2
1022,South Dakota,9500,220000,4600,2,10000,14500,7,2020-Q2
1023,Tennessee,13500,13500,1200,9,4200,3200,24,2020-Q2
1024,Texas,360000,385000,35000,9,15000,136000,35,2020-Q2
1025,Utah,21000,31000,2800,9,8500,13000,42,2020-Q2
1026,Vermont,7000,7000,200,3,680,110,2,2020-Q2
1027,Virginia,7500,8000,1200,15,4800,1300,16,2020-Q2
1028,Washington,50000,114000,3500,3,5000,3300,3,2020-Q2
1029,West Virginia,7500,7500,570,8,1600,1500,20,2020-Q2
1030,Wisconsin,27000,55000,1700,3,14000,4600,8,2020-Q2
1031,Wyoming,17500,30000,2000,7,4400,2100,7,2020-Q2
1032,Other,6500,9840,260,3,1400,1500,15,2020-Q2
1033,United States,2972000,(X),300990,10,536170,626870,21,2020-Q2

In [46]:
bee_df[bee_df['Year'] == '2020-Q2']

,State,Starting Colonies,Maximum Colonies,Lost Colonies,Percent Loss,Added Colonies,Renovated Colonies,Percent Renovated,Year
987,Alabama,8500,8500,4100,48,4700,2600,31,2020-Q2
988,Arizona,26000,26000,1300,5,14500,4700,18,2020-Q2
989,Arkansas,17000,17000,1800,11,4900,800,5,2020-Q2
990,California,1200000,1200000,100000,8,175000,240000,20,2020-Q2
991,Colorado,16500,27000,2100,8,7000,2800,10,2020-Q2
992,Connecticut,3900,4300,30,1,1200,450,10,2020-Q2
993,Florida,310000,310000,40000,13,25000,18500,6,2020-Q2
994,Georgia,145000,147000,10000,7,18500,20000,14,2020-Q2
995,Hawaii,15500,15500,0,0,3000,2300,15,2020-Q2
996,Idaho,48000,81000,18000,22,22000,29000,36,2020-Q2
997,Illinois,12000,12000,1500,13,4200,1700,14,2020-Q2
998,Indiana,11000,12000,920,8,4500,1800,15,2020-Q2
999,Iowa,21000,29000,3600,12,17000,4700,16,2020-Q2
1000,Kansas,7500,8000,680,9,1900,1800,23,2020-Q2
1001,Kentucky,11000,11000,1200,11,4200,3500,32,2020-Q2
1002,Louisiana,53000,53000,1800,3,2300,4700,9,2020-Q2
1003,Maine,1600,22000,700,3,520,110,1,2020-Q2
1004,Maryland,7000,8000,670,8,4400,1700,21,2020-Q2
1005,Massachusetts,4400,13500,630,5,870,540,4,2020-Q2
1006,Michigan,64000,85000,1500,2,11000,10000,12,2020-Q2
1007,Minnesota,59000,126000,13000,10,9000,2600,2,2020-Q2
1008,Mississippi,34000,37000,4500,12,1500,570,2,2020-Q2
1009,Missouri,6500,6500,390,6,2800,1200,18,2020-Q2
1010,Montana,48000,120000,2000,2,18000,16000,13,2020-Q2
1011,Nebraska,16500,41000,1900,5,7000,1100,3,2020-Q2
1012,New Jersey,7000,21000,710,3,1500,650,3,2020-Q2
1013,New Mexico,3100,6000,1000,17,400,40,1,2020-Q2
1014,New York,34000,58000,4000,7,6000,2800,5,2020-Q2
1015,North Carolina,24000,25000,1600,6,6000,1300,5,2020-Q2
1016,North Dakota,67000,415000,20000,5,53000,38000,9,2020-Q2
1017,Ohio,15500,16500,1700,10,9500,3700,22,2020-Q2
1018,Oklahoma,16000,16000,1500,9,6000,3100,19,2020-Q2
1019,Oregon,89000,96000,2500,3,11000,19000,20,2020-Q2
1020,Pennsylvania,24000,28000,930,3,5500,1500,5,2020-Q2
1021,South Carolina,18500,18500,1700,9,2700,2500,14,2020-Q2
1022,South Dakota,9500,220000,4600,2,10000,14500,7,2020-Q2
1023,Tennessee,13500,13500,1200,9,4200,3200,24,2020-Q2
1024,Texas,360000,385000,35000,9,15000,136000,35,2020-Q2
1025,Utah,21000,31000,2800,9,8500,13000,42,2020-Q2
1026,Vermont,7000,7000,200,3,680,110,2,2020-Q2
1027,Virginia,7500,8000,1200,15,4800,1300,16,2020-Q2
1028,Washington,50000,114000,3500,3,5000,3300,3,2020-Q2
1029,West Virginia,7500,7500,570,8,1600,1500,20,2020-Q2
1030,Wisconsin,27000,55000,1700,3,14000,4600,8,2020-Q2
1031,Wyoming,17500,30000,2000,7,4400,2100,7,2020-Q2
1032,Other,6500,9840,260,3,1400,1500,15,2020-Q2
1033,United States,2972000,(X),300990,10,536170,626870,21,2020-Q2